body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    background-image:url(IMG_1686.JPG);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

h1{
    text-align:center;
    background-color:black;
    color:white;
    width: fit-content;
    padding:20px;
    height:auto;
    margin-left: auto;
    margin-right:auto;
    border-style:groove;
}


h2{
    text-align:center;
    background-color:black;
    color:white;
    width: auto;
    height:auto;
    margin-right: auto;
    border-style:groove;
}

ul{
    border-style: groove;
    border-radius: 5px;
    padding:2.5px;
    background-color:black;
    color:white;
    width: fit-content;
    list-style-position:inside;
}


form{
    background-color:grey;
    text-align:left;
    padding: 20px;
    color:black;
    border-style:groove;
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
}

label{
    border-style: groove;
    border-radius: 5px;
    padding:2.5px;
    background-color:black;
    color:white;
}

footer{
    color:white;
    text-align:left;
    bottom:0;
    position:absolute;
}